{{define "rooms"}}
    <!--<div class="room_header"><h3 class="header_text">ルーム</h3></div>-->
    <button onclick="location.href='/'" class="room_button">タイムライン</button><br/>
    <button onclick="location.href='/free'" class="room_button">自由</button><br/>
    <button onclick="location.href='/family'" class="room_button">家族</button><br/>
    <button onclick="location.href='/work'" class="room_button">仕事</button><br/>
    <button onclick="location.href='/hobby'" class="room_button">趣味</button><br/>
    <button onclick="location.href='/animal'" class="room_button">動物</button><br/>
    <button onclick="location.href='/love'" class="room_button">恋愛</button><br/>
{{end}}