{{define "main"}}
    <ul>
        <li><div class="vote_poster">投稿者：{{.posterAccount.Username}}<button class="delete_button" onclick="location.href='{{.url}}'">結果だけ見る</button></div></li>
        <li><div class="vote_title">{{.voting.Title}}</div></li>
        <li><div class="vote_content">{{.voting.Content}}</div></li>
        <li><div class="total_votes"><label class="condition">投票条件：【性別】{{.textSex}}&nbsp;【年齢】{{.textAge}}</label></div></li>
        {{range .choices}}
            <form method="post">
                <div class="vote_choices">
                    <li><button name="choice" value="choiceID" class="vote_choice">{{.}}</button></li>
                </div>
            </form>
        {{end}}
    </ul>

    <script>
        document
        .querySelectorAll('form button')
        .forEach((btn, i) => {
            btn.value = i + 1;
        });
    </script>
{{end}}